@model Blog
<div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <div class="page-wrapper">
                <div class="blog-title-area">
                    <span class="color-green">
                        <a href="/Blog/BlogCategory/@Model.Category.CategoryName" title="@Model.Category.CategoryName">@Model.Category.CategoryName</a>
                    </span>

                    <h3>@Model.Title</h3>

                    <div class="blog-meta big-meta">
                        <small><a href="#" title="">@Model.CreatedDate.ToString("dd.MMM.yyyy")</a></small>
                        <small><a href="#" title="">@Model.AppUser.FullName</a></small>
                        <small><a href="#" title=""><i class="fa fa-eye"></i> @Model.ViewCount </a></small>
                    </div><!-- end meta -->

                    <div class="post-sharing">
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="fb-button btn btn-primary" data-placement="bottom" data-tooltip="tooltip" title="Facebook">
                                    <i class="fab fa-facebook"></i> <span class="down-mobile">Paylaş</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tw-button btn btn-primary" data-placement="bottom" data-tooltip="tooltip" title="X">
                                    <i class="fab fa-twitter"></i> <span class="down-mobile">Paylaş</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="gp-button btn btn-primary" data-placement="bottom" data-tooltip="tooltip" title="Google">
                                    <i class="fab fa-google"></i>
                                </a>
                            </li>
                        </ul>
                    </div><!-- end post-sharing -->
                </div><!-- end title -->

                <div class="single-post-media">
                    <img src="@Model.CoverImageUrl" alt="" class="img-fluid">
                </div><!-- end media -->

                <div class="blog-content">
                    <div class="pp">
                        <p>@Model.Description</p>
                    </div><!-- end pp -->
                </div><!-- end content -->

                <div class="blog-title-area">
                    <div class="tag-cloud-single">
                        <span>Tags</span>
                        <small><a href="#" title="">lifestyle</a></small>
                        <small><a href="#" title="">colorful</a></small>
                        <small><a href="#" title="">trending</a></small>
                        <small><a href="#" title="">another tag</a></small>
                    </div><!-- end meta -->
                </div><!-- end title -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="banner-spot clearfix">
                            <div class="banner-img">
                                <img src="upload/banner_01.jpg" alt="" class="img-fluid">
                            </div><!-- end banner-img -->
                        </div><!-- end banner -->
                    </div><!-- end col -->
                </div><!-- end row -->

                <hr class="invis1">

                @await Component.InvokeAsync("_AboutAuthorUserComponentPartial", new { id = ViewBag.i })

                <hr class="invis1">

                @await Component.InvokeAsync("_BlogDetailLast2BlogByAppUserComponentPartial", new { id = ViewBag.i })

                <hr class="invis1">

                @await Component.InvokeAsync("_BlogDetailCommentsComponentPartial", new { id = ViewBag.i })

                <hr class="invis1">

                @await Component.InvokeAsync("_CommentFormComponentPartial", new { id = ViewBag.i })
            </div><!-- end page-wrapper -->
        </div><!-- end col -->

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="sidebar">
                @await Component.InvokeAsync("_SearchComponentPartial")
                @await Component.InvokeAsync("_RecentPostComponentPartial")
                @await Component.InvokeAsync("_NumberOfBlogsByCategoryComponentPartial")
            </div><!-- end sidebar -->
        </div><!-- end col -->
    </div><!-- end row -->
</div><!-- end container -->
