@model List<UserWithRolesViewModel>
@{
    ViewData["Title"] = "Kullanıcı Listesi";
    Layout = "~/Views/Layout/_WriterLayout.cshtml";
}

<div class="col-lg-12">
    <div class="card mb-4">

        <div class="table-responsive p-3">
           
            <table class="table align-items-center table-flush" id="dataTable">
                <thead class="thead-light">
                    <tr>
                        <th>#</th>
                        <th>Adı Soyadı</th>
                        <th>Kullanıcı Adı</th>
                        <th>Roller</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.UserId</td>
                            <td>@item.Name @item.Surname</td>
                            <td>@item.UserName</td>
                            <td>
                                @foreach (var role in item.Roles )
                                {
                                    <ul>
                                        <li>@role</li>
                                    </ul>
                                    
                                }
                            </td>
                            <td>
                                <a href="/Admin/Role/AssignRole/@item.UserId" class="btn btn-success">Rol Ata</a>
                                <a href="/Admin/Role/ResetPassword/@item.UserId" class="btn btn-warning">Şifre Sıfırla</a>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>